# ================================================================
# This is a sample environment file (.env.sample).
#
# IMPORTANT:
# - Do NOT use this file with real secrets for production.
# - Copy this file to '.env' and replace the placeholder values
#   with actual secrets and environment-specific configurations.
#
# BEFORE DEPLOYMENT TO PRODUCTION:
# - Make sure to replace the placeholder values with real credentials.
# - Ensure that the real '.env' file is excluded from version control
#   by keeping it listed in '.gitignore'.
#
# SECURITY WARNING:
# - Never commit real secrets like passwords or API keys to the repository!
# ================================================================

MYSQLDB_USER=root
MYSQLDB_ROOT_PASSWORD=123456
MYSQLDB_DATABASE=taskplanner_db
MYSQLDB_DOCKER_PORT=3306

DBADMIN_EXPOSE_PORT=8081
DBADMIN_DOCKER_PORT=80

GATEWAY_EXPOSE_PORT=8080